<h2>The temperature in <%= @forecast.location if @forecast %> (<%= @forecast.zipcode if @forecast %>) is currently <u><%= @forecast.temperature if @forecast %></u>.</h2>
<ul>

<form action="/forecasts" class="new_forecast" id="new_forecast" method="post">

  <p><label for="zipcode">Find the current temperature of another zipcode:</label></p>
  <p><input id="zipcode" name="zipcode" type="text" /></p>
  <p><input name="commit" type="submit" value="Find temperature" /></p>
</form>